<div  [ngClass]="{'animate-appear':!isFirst}" >
<hr class="bg-gray-400 border-none h-0.5">
<div class="group">
<svg *ngIf="conditionArrayLength>1" (click)="dropCondition()" class="w-6 absolute mr-4 right-0 invisible stroke-gray-500 group-hover:visible cursor-pointer hover:scale-110 hover:stroke-teal-500" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M19 5L4.99998 19M5.00001 5L19 19" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
<table class="my-2">
  <tr>
    <td class="pr-2">
      Поле:
    </td>
    <td>
      <select class="w-full">
        <option value="Столбец 1">Столбец 1</option>
        <option value="Столбец 2">Столбец 2</option>
        <option value="Столбец 3">Столбец 3</option>
        <option value="Столбец 4">Столбец 4</option>
        <option value="Столбец 5">Столбец 5</option>
        <option value="Столбец 6">Столбец 6</option>
      </select>
    </td>
  </tr>
  <tr>
    <td class="pr-2">
      Условие:
    </td>
    <td>
      <select class="w-full">
        <option value="equal">Равно (=)</option>
        <option value="notEqual">Не равно (<>)</option>
        <option value="more">Больше (>)</option>
        <option value="moreEqual">Больше или равно (>=)</option>
        <option value="less">Меньше (<)</option>
        <option value="lessEqual">Меньше или равно (<=)</option>
        <option value="in">Входит в</option>
        <option value="between">Между (знач1, знач2)</option>
        <option value="like">Соответствует паттерну</option>
        <option value="isNotEmpty">Не пусто</option>
      </select>
    </td>
    <td>
      <div class="flex-row flex items-center gap-2 mx-2">
      Инверсия:
      <input type="checkbox" class="w-4 h-4">
      </div>
    </td>
  </tr>
  <tr>
    <td class="pr-2">
      Значение:
    </td>
    <td>
      <input type="text" class="w-full px-1" name="" id="">
    </td>
  </tr>
</table>
</div>
</div>
