<div class="fixed left-0 top-0 h-full w-full overflow-y-auto overflow-x-hidden outline-none flex justify-center items-center bg-gray-700 bg-opacity-30">
  <div class="bg-white rounded p-4">
    <h1 class="text-xl">
      Редактирование строки
    </h1>
    <hr class="my-2">
    <section>
      <input-cell *ngFor="let col of columns" [column]="col" [value]="rowData" (inputUpdate)="updateRow($event)" class="block my-3"/>
    </section>
    <section class="flex justify-between">
      <button class="bg-teal-600 text-white p-2 m-2 rounded hover:bg-teal-500 transition-all" (click)="saveModifiedRow()">Сохранить</button>
      <button class="bg-red-600 text-white p-2 m-2 rounded hover:bg-red-500 transition-all" (click)="cancel()" >Отмена</button>
    </section>
  </div>
</div>
