<section class="flex flex-col">
  <hr class="bg-teal-600 border-none h-0.5">
  <table class="my-2">
    <tr>
      <td class="pr-2">
        Поле:
      </td>
      <td>
        <select class="w-full" [(ngModel)]="params.column" [disabled]="!columns">
          <option *ngFor="let col of columns">{{col}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="pr-2">
        Условие:
      </td>
      <td>
        <select class="w-full" [(ngModel)]="params.condition" [disabled]="!columns">
          <option value="equal">Равно (=)</option>
          <option value="more">Больше (>)</option>
          <option value="moreEqual">Больше или равно (>=)</option>
          <option value="less">Меньше (<)</option>
          <option value="lessEqual">Меньше или равно (<=)</option>
          <option value="in">Входит в</option>
          <option value="between">Между (знач1, знач2)</option>
          <option value="like">Соответствует паттерну</option>
          <option value="isEmpty">Пусто</option>
        </select>
      </td>
      <td>
        <div class="flex-row flex items-center gap-2 mx-2">
          Инверсия:
          <input type="checkbox" class="w-4 h-4" [(ngModel)]="params.inverse" [disabled]="!columns">
        </div>
      </td>
    </tr>
    <tr *ngIf="params.condition!='between' && params.condition!='isEmpty'">
      <td class="pr-2">
        Значение:
      </td>
      <td>
        <input type="text" class="w-full px-1" [(ngModel)]="params.value" [disabled]="!columns">
      </td>
    </tr>
    <tr *ngIf="params.condition=='between'">
      <td class="pr-2">
        Значение 1:
      </td>
      <td>
        <input type="text" class="w-full px-1" [(ngModel)]="params.valueArray[0]" [disabled]="!columns">
      </td>
    </tr>
    <tr *ngIf="params.condition=='between'">
      <td class="pr-2">
        Значение 2:
      </td>
      <td>
        <input type="text" class="w-full px-1" [(ngModel)]="params.valueArray[1]" [disabled]="!columns">
      </td>
    </tr>
  </table>
  <div class="flex flex-row justify-between">
    <button class="bg-teal-600 text-white p-2.5 w-32 rounded my-2 enabled:hover:bg-teal-500 enabled:hover:font-bold enabled:hover:cursor-pointer transition-all disabled:opacity-50"
            [disabled]="!isConditionCorrect()"
            (click)="getDataWithCondition(params)">
      Найти
    </button>
    <button class="bg-red-600 text-white p-2.5 w-32 rounded my-2 enabled:hover:bg-red-500 enabled:hover:font-bold enabled:hover:cursor-pointer transition-all disabled:opacity-50"
            [disabled]="!isDataFiltered"
            (click)="resetFilter()">
      Сброс
    </button>
  </div>
</section>
