<aside class="flex flex-col ml-0 bg-gray-200 h-screen items-center justify-between border-r border-gray-500">
  <h1 class="text-6xl m-3 font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 bg-teal-600">FloYar</h1>
  <section class="flex flex-col items-center w-full">
    <button
      class="bg-teal-600 text-white w-9/12 p-2.5 m-1 rounded hover:bg-teal-500 hover:font-bold transition-all"
      *ngFor="let table of tablesList"
     (click)="selectTable(table)" [ngClass]="{'active-table': activeTable==table}">{{ Entities[table]}}</button>
  </section>
  <div class="flex items-center justify-between mb-4">
    <span title="Выход">
    <svg class="stroke-gray-500 w-11 hover:stroke-teal-500 hover:scale-110 transition-all cursor-pointer" viewBox="0 0 21 21" >
      <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3)">
        <path d="m.5 12.5v-10c0-1.1045695.8954305-2 2-2h10c1.1045695 0 2 .8954305 2 2v10c0 1.1045695-.8954305 2-2 2h-10c-1.1045695 0-2-.8954305-2-2z"/>
        <path d="m2.5 12.5v-10c0-1.1045695.8954305-2 2-2h-2c-1 0-2 .8954305-2 2v10c0 1.1045695 1 2 2 2h2c-1.1045695 0-2-.8954305-2-2z"/>
        <path d="m7.5 10.5-3-3 3-3"/>
        <path d="m12.5 7.5h-8"/>
      </g>
    </svg>
      </span>
    <span class="text-xl">Имя пользователя</span>
  </div>
</aside>
